version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: ecommerce-db
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: ecommerce_db
      MYSQL_USER: "springuser"
      MYSQL_PASSWORD: "password"
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: ecommerce-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/ecommerce_db?allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: "springuser"
      SPRING_DATASOURCE_PASSWORD: "password"
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      db:
        condition: service_healthy


volumes:
  db-data: