spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce_db?useSSL=false&allowPublicKeyRetrieval=true
    username: "springuser"
    password: "password"

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    encoding: UTF-8

jwt:
  secret: bXlWZXJ5U2VjdXJlU2VjcmV0S2V5Rm9ySldUU2lnbmluZ1RoYXRJc0xvbmc=